/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

.user-pretty-border
{
  border: 5px #00afd8 solid;
}

.event-pretty-border
{
  border: 5px #f6b140 solid;
}

.attendances-pretty-border
{
  border: 5px #1cc75d solid;
}

.box-shadow
{
  box-shadow: 0px 2px 6px 1px rgba(32, 33, 36, 0.28);
}

.img-circular
{
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

p
{
  word-wrap: break-word;
}